<!DOCTYPE html>
<html>
<head>
  <title>ChessSolverWeb</title>

  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">

  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body ng-app="chess-solver">
<%= render partial: 'shared/navigation_bar' %>

<div class="container">
  <%= yield %>
</div>
<%= yield :charts_js %>
</body>
</html>
